html, body {
    height: 100%;
}
.card .card-subtitle.cuisine {
    font-size: 0.75rem;
}
.car .card-subtitle.city {
    font-size: 0.85rem;
}

.card .card-img-top {
    height: 180px;
}

.card .rating {
    color: #ffc000;
}

textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus,
select:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus,
.btn:focus, .btn:active {
  box-shadow: none;
  outline: none;
}

.loadingText {
    font-size: 20px;
    color: #000000;
}

.pagination /deep/ .ngx-pagination {
    padding: 0;
    font-size: 0.85rem;
}
.pagination /deep/ .ngx-pagination .current {
    background-color: #343a40;
}

#filter-overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    z-index: 1000;
}
#filter-overlay i.fa.fa-times { 
    font-size: 1.2em;
}
#filter-overlay i.fa.fa-times:hover {
    font-size: 1.4em;
    cursor: pointer;
}