<header class="fixed-top"></header>
<div class="container-fluid bg-light">
  <div class="spinner" [hidden]="dataFetched">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  <div id="filter-overlay">
    <div class="text-right m-2">
      <i class="fa fa-times" (click)="hideFilters()"></i>
    </div>
    <div class="container-fluid">
      <div class="row">
          <div class="col">
              <h5>Filters</h5>
          </div>
          <div class="col text-right">
              <button type="button" class="btn btn-link btn-sm" (click)="clearFilters()">CLEAR ALL</button>
          </div>
        </div>
        <hr>
        <h6>Cuisine</h6>
        <input type="text" class="form-control" name="cuisineName" placeholder="Search cuisine" [(ngModel)]="cuisineName" />
        <div class="mt-2" style="height: 300px; overflow-y: scroll">
          <div *ngFor="let cuisine of (cuisineList | searchCuisine:cuisineName)" class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="cuisine.checked">
            <label class="form-check-label">
              {{cuisine.name}}
            </label>
          </div>
        </div>
    </div>
    <div class="text-center m-2">
      <button class="btn btn-primary btn-sm" (click)="applyFilters()">Apply</button>
    </div>
  </div>
  <div class="content">
    <div class="row">
      <!-- Filter section -->
      <div class="col-12 text-right d-xs-block d-md-none mt-2">
        <button class="btn btn-primary btn-sm rounded-circle" (click)="showFilters()"><i class="fa fa-filter"></i></button>
      </div>
      <div class="d-none d-md-block col-md-3 h-100 p-0 filter-section">
        <div class="shadow-sm bg-white px-2 m-2">
        <div class="row">
          <div class="col">
              <h5>Filters</h5>
          </div>
          <div class="col text-right">
              <button type="button" class="btn btn-link btn-sm" (click)="clearFilters()">CLEAR ALL</button>
          </div>
        </div>
        <hr>
        <h6>Cuisine</h6>
        <input type="text" class="form-control form-control-sm" name="cuisineName" placeholder="Search cuisine" [(ngModel)]="cuisineName" />
        <div class="mt-2" style="height: 300px; overflow-y: scroll">
          <div *ngFor="let cuisine of (cuisineList | searchCuisine:cuisineName)" class="form-check">
            <input class="form-check-input" type="checkbox" [(ngModel)]="cuisine.checked" (change)="getRestaurants()">
            <label class="form-check-label">
              {{cuisine.name}}
            </label>
          </div>
        </div>
      </div>
      </div>

    <!-- Main -->
      <div class="col-md-9 offset-md-3 p-0">
        <div class="shadow-sm bg-white px-2 m-2">
        <form class="search-section">
          <div class="form-row">
            <div class="form-group col-6 col-sm-6 col-md-6">
              <label class="col-form-label col-form-label-sm font-weight-bold">Search Restaurant</label>
              <div class="input-group mb-3">
                <input type="text" class="form-control form-control-sm" name="restaurantName" [(ngModel)]="restaurantName" (keydown)="storeSearchedName()" (keyup)="searchRestaurants($event)" placeholder="Restaurant name" aria-label="restaurant name" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary btn-sm search-btn" type="button" (click)="getRestaurants()" [disabled]="restaurantName.length==0"><i class="fa fa-search"></i></button>
                </div>
              </div>
            </div>
            <div class="form-group col-4 col-sm-3 col-md-3">
              <label class="col-form-label col-form-label-sm font-weight-bold">Sort by </label>
              <select class="form-control form-control-sm" name="rating" [(ngModel)]="sortProperty" (change)="getRestaurants()">
                <option value="">--Please select--</option>
                <option value="name" selected>name</option>
                <option value="rating,desc">user rating</option>
              </select>
            </div>
            <div class="form-group col-2 col-sm-3 col-md-3">
              <label class="col-form-label col-form-label-sm font-weight-bold">Items/page</label>
              <select class="form-control form-control-sm" name="itemsPerPage" [(ngModel)]="itemsPerPage" (change)="getRestaurants()">
                <option value="25" selected>25</option>
                <option value="50">50</option>
                <option value="100">100</option>
              </select>
            </div>
          </div>
        </form>
        <div class="row flex-column no-results" *ngIf="dataFetched && restaurants.length==0">
            <i class="fa fa-search fa-lg"></i>
            No matching restaurants found.
        </div>
      <div class="card-columns row">
        <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let restaurant of restaurants">
          <div class="card card-box">
            <img class="card-img-top" src="{{restaurant.getImgUrl()}}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{restaurant.getName()}}
                <span *ngIf="restaurant.getRating()"><i class="fa fa-star rating"></i>{{"(" + restaurant.getRating() + ")"}}</span>
              </h5>
              <h6 class="card-subtitle mb-2 text-muted cuisine">{{restaurant.getCuisine()}}</h6>
              <h6 class="card-subtitle mb-2 text-muted city">{{restaurant.getCity()}}</h6>
              <p class="card-text"></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center align-items-center pagination" *ngIf="restaurants.length>0">
        <div class="item">
          <button class="btn btn-sm button-primary" (click)="prev()" [ngClass]="{'disabled': page==0}">Prev</button>
        </div>
        <div class="item">{{page+1}}/{{totalPages}}</div>
        <div class="item">
          <button class="btn btn-sm button-primary" (click)="next()" [ngClass]="{'disabled': page==totalPages-1}">Next</button>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>

</div>
